@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Proxima Nova";
  src: url(/fonts/Mark\ Simonson\ \ Proxima\ Nova\ Light.otf) format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(/fonts/Mark\ Simonson\ \ Proxima\ Nova\ Light\ Italic.otf) format("opentype");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(/fonts/Mark\ Simonson\ \ Proxima\ Nova\ Bold.otf) format("opentype");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(/fonts/Mark\ Simonson\ \ Proxima\ Nova\ Bold\ Italic.otf) format("opentype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

h1{
  font-size: 81px;
  color: #333333;
  font-family: "Proxima Nova";
  font-weight: bold;
}

h2{
  font-size: 54px;
  color: #333333;
  font-family: "Proxima Nova";
  font-weight: bold;
}

h3{
  font-size: 36px;
  color: #333333;
  font-family: "Proxima Nova";
  font-weight: bold;
}

h4{
  font-size: 24px;
  color: #333333;
  font-family: "Proxima Nova";
}

p{
  font-size: 18px;
  color: #333333;
  font-family: "Proxima Nova";
}

.heroimg{
  border: 3px solid white;
}

.teamcard{
  border: 2px solid #222952;
}

button{
  font-family: "Proxima Nova";
  background-color: transparent;
}

button:hover{
  background-color: #222952;
  color: white;
  transition: ease-in-out;
  transition-duration: 250ms;
}

.partners:hover{
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.1);
  transition: ease-in-out;
  transition-duration: 200ms;
}

.services:hover{
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.1);
  transition: ease-in-out;
  transition-duration: 200ms;
}

.nav-element{
  font-weight: bold;
}

.nav-element:hover{
  color: #222952;
  transition: ease-in-out;
  transition-duration: 150ms;
}

input{
  font-family: "Proxima Nova";
}

textarea{
  font-family: "Proxima Nova";
}