@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Proxima Nova";
  src: url(/fonts/Mark\ Simonson\ \ Proxima\ Nova\ Light.otf) format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(/fonts/Mark\ Simonson\ \ Proxima\ Nova\ Light\ Italic.otf) format("opentype");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(/fonts/Mark\ Simonson\ \ Proxima\ Nova\ Bold.otf) format("opentype");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(/fonts/Mark\ Simonson\ \ Proxima\ Nova\ Bold\ Italic.otf) format("opentype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

h1{
  font-size: 81px;
  color: #333333;
  font-family: "Proxima Nova";
  font-weight: bold;
}

h2{
  font-size: 54px;
  color: #333333;
  font-family: "Proxima Nova";
  font-weight: bold;
}

h3{
  font-size: 36px;
  color: #333333;
  font-family: "Proxima Nova";
  font-weight: bold;
}

h4{
  font-size: 24px;
  color: #333333;
  font-family: "Proxima Nova";
}

p{
  font-size: 18px;
  color: #333333;
  font-family: "Proxima Nova";
}

.heroimg{
  border: 3px solid white;
}